.details {
  border: 2px solid pink;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  box-sizing: border-box;
  padding: 10px 10px 40px;
  overflow-wrap: break-word;
  height: min-content;
  background-color: #242424;
}

.blackout {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.308);
  height: 100vh;
  width: 100%;
}

.blackout:focus-visible {
  outline: none;
}

.info {
  display: flex;
  justify-content: flex-start;
  gap: 5px;
  padding: 20px;
}

.info > div {
  width: 40%;
}

.info h2 {
  margin: 5px;
}

.info p {
  margin: 5px;
}

@media screen and (max-width: 576px) {
  .info {
    flex-direction: column;
  }

  .info div {
    width: 100%;
  }

  .info > img {
    width: 100%;
  }
}
