.listItem {
  border: 1px solid rgba(175, 154, 157, 0.384);
  background-color: rgba(52, 212, 212, 0.192);
  border-radius: 5px;
  box-sizing: border-box;
  justify-content: space-between;
  display: flex;
  flex-direction: column;
  width: 270px;
  padding: 10px;
}

.listItem > h3 {
  margin: 5px;
}

.listItem > h4 {
  margin: 5px;
}

.listItem > p {
  margin: 5px;
}

.listItem > span {
  display: inline;
}

.listItem > * {
  text-align: center;
}

.listItem > button {
  height: 30px;
  font-weight: 700;
}
