.list {
  margin: 10px auto;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  gap: 5px;
}

.list > .listItem {
  border: 2px solid pink;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  box-sizing: border-box;
  padding: 10px;
}
