.searchForm {
  display: flex;
  justify-content: space-around;
  margin: 0 auto;
  box-sizing: border-box;
}

.searchForm * {
  box-sizing: border-box;
  height: 30px;
  border: 1px solid black;
}

.searchForm > input[type='text'] {
  display: block;
  width: 70%;
  flex: 1 1 auto;
  min-width: 200px;
  border-right: none;
}

.searchForm > button {
  display: block;
  font-weight: 700;
}

.searchForm > button:nth-child(2) {
  border-right: none;
}

.searchForm > button:hover {
  display: block;
  background-color: rgb(87, 121, 121);
  cursor: pointer;
}
